.signup{
    text-align: center;
    font-size: xx-large;
    color: #7002ff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow:black;
    text-shadow: brown;
}